{% extends "base.html" %}

{% block content %}
<h2>Объясните причину отказа</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.reason.label }}<br>
        {{ form.reason(class="form-control") }}<br>
        {% for error in form.reason.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
</form>
{% endblock %}
